.App {
  display: grid;
  grid-template-areas:
            ". flexboxNavBar ."
            ". Content ."
            ;
  text-align: center;
  grid-template-columns: 1fr max(600px) 1fr;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  background-color: #715D5D;
  display: flex;
  justify-content: space-between;
  margin: auto;

}

.logo {
  max-height: 85px;
}

.colour {
  background-color: #18181A;

}


.picture1 {
  transform: scaleX(-1);
}

/* Hero */
.okdle-box {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 91vh;
  background-color: #2F2F2F;
}

.play-field {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  position: relative;
  
}

.play-field::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://s3-alpha-sig.figma.com/img/a501/515d/2cc572e2d397cc44d75fc33af4518e2a?Expires=1705276800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HQ3vE6sWWIOoF7Q6bkt-lxXGvl8~lFieHZw7sSQS9SElOgfTvGwiQP2-moEl1GZqHMcFbxxBWVBn2C6Jbzgafu6h-ybR6vvHI5XbeEez18huugw3xrNYkDxEFOhdyEQdBo0ruwfVhCiBW-elCtHY8pza8ggbjNmNffN1fVVaOZGAtSfBZuuNq-MEsB2Q-9IIpHfAoBcntPk79sMdicRbVKBeuKj9QnyrBV2tMroXe~nos1m8aBuaVsxQJAZVIt2BTm3VlQ5YopUOW0GZm8h4C7z6bcZgxZ9BtZTEXI5q20BqWonxsZ7bvksPXyBmkfM5pT8JPk5gDGVQy2D7uEmVYQ__);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  filter: blur(8px);
}

.footer {
 margin: auto;
  font-weight: 700;
  width: 100%;
  
}

/* Play button */

.button-play {
  margin: 7% 2%;
  border-radius: 60px;
  border: 1px solid #020202;
  background: rgba(98, 94, 94, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  width: 47%;
  height: 11%;
}

.button-play:hover {
  background: rgba(150, 140, 140, 0.3);
}

#play-button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: #FFF;
  font-family: Inter;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
